/* .item
{
position: relative;
margin: 15px 0;
}

.item-caption
{
    background-color: white;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
    padding:0 10px;
}

.one
{
    background-color: #09c;
    width: 300px;
    height: 300px;  
}

.two
{
    border-radius: 50%;
    margin: auto;
    background-color: green;
}
.test
{
    width: 70px;
    height: 50px;
    position: absolute;
}

#lightboxContainer
{
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;

}
#lightboxItem
{
    width:50%;
    height: 500px;
    position: relative;
    background-image: url(../images/portfolio-1.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close
{
    position: absolute;
    top:15px;
    right: 15px;
}

 */
.recipe-img
{
    height: 250px;
}

body
{
    font-family: 'segoe ui light';
}
.color-mine
{
    color:#ff7d5f !important;
}
.rounded-mine
{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}
.btn-mine
{
    background-color: #ff7d5f;
}
.bg-opacity
{
    background-color: rgba(0,0,0,0.5);
}
header
{
    background-image: url(../images/mainBg.jpg);
    background-size: cover;
    background-position:center center;
}
nav .logo
{
    width:70px ;
    height: 40px;
}
.searchInput
{
    top: 85%;
}
.recipe
{
    cursor: pointer;
}
.recipe img
{
    height: 200px !important;
}


img{
    height: 200px;
}
